body{
	background-color: gray;
}
#griglia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
	background-color: lightgray;
}
.box{
    width: 20px;
    height: 20px;
    list-style: none;
    border: 1px solid black;
}
.active{
    background-color: crimson;
}